.button
{
    padding: 25px;
    margin: 5px 3px;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgb(22, 22, 22);
    font-size:20px;
    color:white;
    font-weight: bold;
    background: linear-gradient(aqua,rgb(23, 23, 23));
}
.row input
{
    padding:12px 4px;
    margin:20px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgb(22, 22, 22);
    background:rgb(37, 36, 36);
     font-size:22px;
    font-weight: bold;
    color:white;
}